a {z-index:1; color:#000000; background-color:#8c97bf; font-size:40px; padding:10px; width:100%; position:relative;}
.links {left:20%;}

body {font-family:monaco, sans-serif; background-color:#ede1b0;}
p {text-align:center; background-color:#8c97bf; font-size:50px; width:60%; left:20%; position:relative;}

.box-left {width:20%; left:0%; float:left; position: fixed; top:10%;}
.box-right {width:20%; left:80%; float:right; position: fixed; top:10%;}
.comic {width:60%; position:relative; left:20%; z-index:2;}