a {color:#000000; font-size:40px; padding:30px; position:relative;}
.links {height:13%; z-index:3; position:relative; text-align:center; padding:10px; background-color:#8c97bf;}

body {font-family:monaco, sans-serif; background-color:#ede1b0;}
h1 {padding:5px; text-align:center; background-color:#8c97bf; font-size:30px; width:60%; left:20%; position:relative;}
p {padding-top:5px; padding-bottom:5px; text-align:center; background-color:#8c97bf; font-size:20px; width:60%; left:20%; position:relative;}

.box-left {width:19%; left:.5%; float:left; position: fixed; top:14%;}
.box-right {width:19%; left:80.5%; float:right; position: fixed; top:14%;}
.comic {width:60%; position:relative; left:20%; z-index:2;}
.cast {background-color:#ede1b0;}