a:link; {align-content: center; color: #000000; background-color: #8c97bf; font-size: 20%; padding: 50px;}

body {font-family:monaco, sans-serif; background-color:#ede1b0;}
p {align-content:center; background-color:#8c97bf; font-size:100px; width:20%;}

.box-left {width:20%; left:0%; float:left; position: fixed;}
.box-right {width:20%; left:80%; float:right; position: fixed;}